<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.chinasofti.ssm.dao.CardDao">


    <select id="getCustomerByCustomerId" parameterType="String" resultType="com.chinasofti.ssm.domain.Customer">
		select *
		from customers
		where CustomerId = #{CustomerId}
	</select>

    <resultMap id="CardResultMap" type="com.chinasofti.ssm.domain.Card" autoMapping="true">
        <association property="customer" column="CustomerId" select="getCustomerByCustomerId"></association>
    </resultMap>



    <select id="findAll" resultMap="CardResultMap">
        select *
        from cards
        where DeleteStatus = 1
    </select>
    <select id="findByCustomerId" parameterType="String" resultMap="CardResultMap">
        select *
        from cards
        where  CustomerId = #{customerId} and DeleteStatus = 1
    </select>
    <select id="findByCardId" parameterType="String" resultMap="CardResultMap">
        select *
        from cards
        where CardId = #{cardId} and DeleteStatus = 1
    </select>

    <insert id="insert" parameterType="com.chinasofti.ssm.domain.Card" useGeneratedKeys="true" keyProperty="Id">
		insert into cards
		values(null,#{CardId},#{customer.CustomerId},#{Account},#{DeleteStatus})
	</insert>
    <update id="update" parameterType="com.chinasofti.ssm.domain.Card">
		update cards
		set CardId =#{CardId}, CustomerId = #{customer.CustomerId}, Account = #{Account}, DeleteStatus = #{DeleteStatus}
		where Id = #{Id}
	</update>
    <delete id="deleteById" parameterType="int">
		update cards
		set DeleteStatus = 0
		where Id = #{id}
	</delete>
</mapper>