<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.chinasofti.ssm.dao.CustomerAnalysisDao">

    <select id="getTypeByTypeId" parameterType="String" resultType="com.chinasofti.ssm.domain.Type">
		select *
		from types
		where TypeId=#{TypeId}
	</select>

    <select id="getProviderByProviderId" parameterType="String" resultType="com.chinasofti.ssm.domain.Provider">
		select *
		from providers
		where ProviderId=#{ProviderId} and DeleteStatus = 1
	</select>

    <resultMap id="GoodResultMap" type="com.chinasofti.ssm.domain.Good" autoMapping="true">
        <association property="type" column="TypeId" select="getTypeByTypeId"></association>
        <association property="provider" column="ProviderId" select="getProviderByProviderId"></association>
    </resultMap>

    <select id="getCustomerByCustomerId" parameterType="String" resultType="com.chinasofti.ssm.domain.Customer">
		select *
		from customers
		where CustomerId = #{CustomerId}
	</select>

    <select id="getGoodByGoodId" parameterType="String" resultMap="GoodResultMap">
		select *
		from goods
		where GoodId = #{GoodId}
	</select>

    <resultMap id="CommentResultMap" type="com.chinasofti.ssm.domain.CustomerAnalysis" autoMapping="true">
        <association property="customer" column="CustomerId" select="getCustomerByCustomerId"></association>
        <association property="good" column="GoodId" select="getGoodByGoodId"></association>
    </resultMap>



    <select id="findAll" resultMap="CommentResultMap">
        select clicktable.id,clicktable.customerId,clicktable.goodId,clicktable.browseTime,clicktable.browseNum,
        case when goodbycustomer.buySum is null then 0 else goodbycustomer.buySum end,
        case when goodbycustomer.buyNum is null then 0 else goodbycustomer.buyNum end
        from clicktable LEFT OUTER JOIN goodbycustomer on clicktable.goodId=goodbycustomer.goodId and clicktable.customerId=goodbycustomer.customerId
    </select>
    <select id="findById" parameterType="Integer" resultMap="CommentResultMap">
        select clicktable.id,clicktable.customerId,clicktable.goodId,clicktable.browseTime,clicktable.browseNum,
        case when goodbycustomer.buySum is null then 0 else goodbycustomer.buySum end,
        case when goodbycustomer.buyNum is null then 0 else goodbycustomer.buyNum end
        from clicktable LEFT OUTER JOIN goodbycustomer on clicktable.goodId=goodbycustomer.goodId and clicktable.customerId=goodbycustomer.customerId
        where clicktable.id = #{id}
    </select>
    <select id="findByCustomerId" resultMap="CommentResultMap">
        select clicktable.id,clicktable.customerId,clicktable.goodId,clicktable.browseTime,clicktable.browseNum,
        case when goodbycustomer.buySum is null then 0 else goodbycustomer.buySum end,
        case when goodbycustomer.buyNum is null then 0 else goodbycustomer.buyNum end
        from clicktable LEFT OUTER JOIN goodbycustomer on clicktable.goodId=goodbycustomer.goodId and clicktable.customerId=goodbycustomer.customerId
        where  clicktable.customerId = #{customerId}
    </select>
</mapper>