<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.chinasofti.ssm.dao.ProductDetailsDao">

    <select id="getGoodByGoodId" parameterType="String" resultType="com.chinasofti.ssm.domain.Good">
		select *
		from goods
		where GoodId = #{goodid}
	</select>
    <resultMap id="ProductDetailsResultMap" type="com.chinasofti.ssm.domain.ProductDetails" autoMapping="true">
        <association property="good" column="goodid" select="getGoodByGoodId"></association>
    </resultMap>


    <select id="findAll" resultMap="ProductDetailsResultMap">
        select *
        from product_details
    </select>
    <select id="findById" parameterType="int" resultMap="ProductDetailsResultMap">
        select *
        from product_details
        where id = #{id}
    </select>
    <select id="findByGoodId" resultMap="ProductDetailsResultMap">
        select *
        from product_details
        where goodid = #{goodId}
    </select>

    <insert id="insert" parameterType="com.chinasofti.ssm.domain.ProductDetails" useGeneratedKeys="true" keyProperty="id">
		insert into product_details
		values(null,#{good.GoodId},#{review},#{weight},#{productPosition},#{productType},#{timeToMarket},#{packingList},#{cpu},#{ram},#{hardDisk},#{screenType},#{screenSize},#{battery},#{resolution},#{graphicsCard},#{adorn},#{microphone},#{sensitivity},#{earphoneFeature},#{sensorType},#{sensorSize},#{pixel},#{os})
	</insert>
    <update id="update" parameterType="com.chinasofti.ssm.domain.ProductDetails">
		update product_details
		set goodid =#{good.GoodId}, review = #{review}, weight = #{weight}, productPosition = #{productPosition}, productType = #{productType}, timeToMarket = #{timeToMarket}, packingList = #{packingList}, cpu = #{cpu}, ram = #{ram}, hardDisk = #{hardDisk}, screenType = #{screenType},screenSize = #{screenSize},battery = #{battery},resolution = #{resolution}, graphicsCard = #{graphicsCard}, adorn = #{adorn}, microphone = #{microphone}, sensitivity = #{sensitivity}, earphoneFeature = #{earphoneFeature}, sensorType = #{sensorType}, sensorSize = #{sensorSize}, pixel = #{pixel}, os = #{os}
		where id = #{id}
	</update>
</mapper>