<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"

        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.chinasofti.ssm.dao.ProviderDao">

    <resultMap id="ProviderResultMap" type="com.chinasofti.ssm.domain.Provider" autoMapping="true">

    </resultMap>

    <select id="findById" parameterType="int" resultMap="ProviderResultMap">
		select *
		from providers
		where Id = #{Id} and DeleteStatus = 1
	</select>

    <select id="findByName" parameterType="String" resultMap="ProviderResultMap">
        select *
        from providers
        where ProviderName=#{ProviderName} and DeleteStatus = 1
    </select>

    <select id="findByAddress" parameterType="String" resultMap="ProviderResultMap">
        select * from providers where ProviderAddress=#{ProviderAddress} and DeleteStatus = 1;
    </select>

    <insert id="insert" parameterType="com.chinasofti.ssm.domain.Provider">
        insert into providers values('',#{ProviderId},#{ProviderName},#{ProviderAddress},#{ProviderTel},#{ProviderPhone},#{ProviderEmail},#{ProviderZipCode},#{DeleteStatus})
    </insert>

    <delete id="delete" parameterType="Integer">
        update providers
        set DeleteStatus = 0
        where Id = #{Id} and DeleteStatus = 1
    </delete>

    <update id="update" parameterType="com.chinasofti.ssm.domain.Provider">
        update providers
        set ProviderId=#{ProviderId},ProviderName=#{ProviderName},ProviderAddress=#{ProviderAddress},ProviderTel=#{ProviderTel},ProviderPhone=#{ProviderPhone},ProviderEmail=#{ProviderEmail},ProviderZipCode=#{ProviderZipCode},DeleteStatus=#{DeleteStatus}
        where Id = #{Id}
    </update>


</mapper>