<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"

        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.chinasofti.ssm.dao.TypeDao">

    <resultMap id="TypeResultMap" type="com.chinasofti.ssm.domain.Type" autoMapping="true">

    </resultMap>

    <select id="findById" parameterType="int" resultMap="TypeResultMap">
		select *
		from types
		where Id = #{Id}
	</select>

    <select id="findByTypeId" parameterType="String" resultMap="TypeResultMap">
        select *
        from types
        where TypeId=#{TypeId}
    </select>

    <select id="findByName" parameterType="String" resultMap="TypeResultMap">
        select * from types where TypeName=#{TypeName};
    </select>

    <insert id="insert" parameterType="com.chinasofti.ssm.domain.Type">
        insert into types values(null,#{TypeId},#{TypeName})
    </insert>

    <delete id="delete" parameterType="Integer">
        delete from types where Id=#{Id}
    </delete>

    <update id="update" parameterType="com.chinasofti.ssm.domain.Type">
        update types
        set TypeId=#{TypeId},TypeName=#{TypeName}
        where Id = #{Id}
    </update>


</mapper>